extends layout

block content
    h1 Revolutionary War Documents

    // Wrapper
    #wrapper

        // DOC LIST
        
        #docList
            table
                thead
                    th Document Name
                    th Date
                    th RefNumber
                tbody
        // /DOC LIST

        // Document INFO
        #docInfo
            <span id='docPhotoId'></span>
        // /DOC INFO

        
        

    // /WRAPPER

    #docDesc
        button.btn#descButton Description
        button.btn#transButton Transcription
        p#textBox